﻿
@{
    ViewBag.Title = "File Manager";
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default margin-top-80">
            <div class="panel-body">
                <h3>Account Files</h3>
                <div class="panel panel-default panel-upload hidden">
                    <div class="panel-body">
                        <h4>Upload New File</h4>
                        <div class="form-group">
                            <input id="uploadFile" class="form-control" placeholder="Add files from My Computer" disabled="disabled" />
                            <div class="fileUpload btn btn-default">
                                <span>Browse</span>
                                <input type="file" name="fileManager" id="fileManager" class="upload" />
                            </div>
                        </div>
                        <small>100 MB limit per file. Having trouble? Try the <a href="#">basic uploader.</a></small>
                        <div class="form-group margin-top-50">
                            <button class="btn btn-sm btn-default disabled" id="upload-file">Upload File</button>
                            <button class="btn btn-sm btn-default" id="cancel-upload">Cancel</button>
                        </div>
                        </div>
                        
                    </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="dropdown">
                            Sort by:
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                Date Added
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="date-added-sort" href="#">Date Added</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-sm btn-default" id="new-upload">Upload New</button>
                        </div>
                    </div>
                </div>
                <table class="table table-responsive">
                    <tbody id="file-table"></tbody>
                </table>
                <div class="text-right">
                    (<span id="file-number"></span> results)
                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

@*Modal proizvođača*@
<div class="modal fade" id="rename-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rename File</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                         <label>Name</label>
                         <input type="text" name="Name" id="file-new-name" class="form-control" required />
                         <span class="has-error hidden" id="file-exists">File with that name already exists.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="submit-file-name" class="btn btn-primary">Rename</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#rename-modal').on('hidden', function () {
            $(this).data('modal', null);
            $('#file-exists').addClass('hidden');
        });

        fileNumber = 0;
        $('#file-number').text(fileNumber);

        $('#fileManager').change(function () {
            if (document.getElementById("fileManager").files.length > 0) {
                $("#upload-file").removeClass('disabled');
                document.getElementById("uploadFile").value = this.value;
            }
        });
        
        $("#upload-file").on("click", function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("fileManager").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("fileManager").files[i];

                formData.append("fileManager", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/SaveFile',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result != "ERROR") {
                        var creationTime = new Date(parseInt(result.CreationTime.substr(6)));
                        $('#file-table').append('<tr><td class="file-data"><img src="/Content/Icons/16px/' + result.FileExtension + '.png" /><span class="file-name">' + result.FileName + '</span><br /><small> Uploaded ' +
                           '<span class="date-added">' + parseDate(creationTime) + '</span> by <a href="#">' + @User.Identity.Name + '</a> ' + '</small></td><td class="text-right">' + result.FileSize +
                           ' KB</td><td class="text-right">' + '<div class="dropdown">' +
                           '<a class="dropdown-toggle" href="#" data-toggle="dropdown">Options' + 
                           '<span class="caret"></span></a><ul class="dropdown-menu"><li><a class="rename-file" href="#" data-toggle="modal" data-target="#rename-modal">Rename</a></li></ul>' +
                           '</div></td></tr>').on("click", "a.rename-file", function () {
                               fileName = $(this).closest("tr")
                                                      .find("span[class='file-name']").text();
                               $('#file-new-name').val(fileName);
                           });;
                        clearFiles();
                        fileNumber += 1;
                        $('#file-number').text(fileNumber);
                    }
                },
                error: function (error) {
                    alert("error");
                }
            });
        });

        $("#submit-file-name").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/File/RenameFile",
                data: JSON.stringify({"NewName" : $("#file-new-name").val(), "OldName" : fileName}),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result != "ERROR") {
                        $('#file-table tr').each(function (i, row) {
                            var $row = $(row),
                                $currentFileName = $row.find('span[class="file-name"]');
                            if ($currentFileName.text() == fileName)
                                $currentFileName.text($("#file-new-name").val());
                        });
                        $('#rename-modal').modal('hide');
                        $('#file-exists').addClass('hidden');
                    }
                    else {
                        $('#file-exists').removeClass('hidden');
                    }
                }
            });
        });

        $("#cancel-upload").on("click", function () {
            $('.panel-upload').addClass('hidden');
            $("#new-upload").removeClass('disabled');
            clearFiles();
        });

        $("#new-upload").on("click", function () {
            $('.panel-upload').removeClass('hidden');
            $("#new-upload").addClass('disabled');
        });
    });

    function clearFiles() {
        $('#fileManager').val('');
        $("#upload-file").addClass('disabled');
    }
    
</script>